*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 60px;
    background: transparent;
}

.logo{
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.navlist{
    display: flex;
}

.navlist a{
    color: black;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 400px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid darkgray;
}

#menu-icon{
    color: black;
    font-size: 30px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.container{
    width: 100%;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
}