*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.closecontrol{
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
    color: darkgray;
}

.closecontrol a{
    font-size: 20px;
    padding: 0 7px;
    color: darkgray;
    border: 1px solid transparent;
    background-color: transparent;
}

.closecontrol a:hover{
    transition: .4s;
    color: white;
    border: 1px solid darkgray;
    background-color: darkgray;
    padding: 0, 7px;
    border-radius: 30px;
}

.authpanel{
    margin-top: 100px;
    padding: 10px 20px;
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 0 5px 15px rgb(192, 192, 192);
    border-radius: 15px;
    text-align: center;
    display: inline-block;
}

.authpanel .content h6{
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
}

.authpanel .content p{
    max-width: 100%;
    width: 480px;
    color: darkgray;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 25px;
}

.authpanel .successicon{
    margin-bottom: 10px;
    margin-top: 20px;
}

.authpanel .successicon a{
    font-size: 100px;
    font-weight: 600;
    color: black;
    border-bottom: 2px solid darkgray;
    padding: 0 65px;
    height: 100px;
}

.authpanel .btn{
    text-decoration: none;
    color: white;
    background: rgb(0, 104, 222);
    box-shadow: 0 5px 15px rgb(0, 100, 214);
    display: inline-block;
    border: 1px solid rgb(0, 104, 222);
    padding: 8px 30px;
    border-radius: 30px;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .55s ease;
    margin-top: 90px;
    margin-bottom: 30px;
}

.authpanel .btn:hover{
    background: rgb(0, 90, 192);
    box-shadow: 0 5px 15px rgb(0, 71, 152);
    border: 1px solid rgb(0, 90, 192);
}